button{
    outline:none;
    border:none;
    width:90%;
    padding: 10px 5px;
    background: aqua;
    border-radius: 5px;
    font-weight: bold;
    margin-inline: auto;
}

button:hover{
    opacity: .6;
}